.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.rearrange-blocks {

  &-move, &-enter, &-leave {
    transition: all 500ms ease-out;
  }

  &-enter, &-leave {
    transform: translateX(-50%);
    opacity: 0;
  }
  &-enter-active, &-leave-active {
    transition: translateX(-50%);
    opacity: 0;
  }
}

.list-enter-active, .list-leave-active {
  transition: all .5s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
